[submodule "dmw_2003_forced_encounters_disable"]
	path = dmw_2003_forced_encounters_disable
	url = https://github.com/markisha64/dmw_2003_forced_encounters_disable
[submodule "dmw_2003_random_encounters_disable"]
	path = dmw_2003_random_encounters_disable
	url = https://github.com/markisha64/dmw_2003_random_encounters_disable
[submodule "dmw_2003_fishing_kicking_disable"]
	path = dmw_2003_fishing_kicking_disable
	url = https://github.com/markisha64/dmw_2003_fishing_kicking_disable
[submodule "dmw2003uncapped_dv_exp"]
	path = dmw2003uncapped_dv_exp
	url = https://github.com/markisha64/dmw2003uncapped_dv_exp
[submodule "dmw2003fixed_fields"]
	path = dmw2003fixed_fields
	url = https://github.com/markisha64/dmw2003fixed_fields
[submodule "dmw2003NTSC"]
	path = dmw2003NTSC
	url = https://github.com/markisha64/dmw2003NTSC
[submodule "dmw_2003_card_battle_disable"]
	path = dmw_2003_card_battle_disable
	url = https://github.com/markisha64/dmw_2003_card_battle_disable
[submodule "dmw_2003_no_cc"]
	path = dmw_2003_no_cc
	url = https://github.com/markisha64/dmw_2003_no_cc
[submodule "dmw_2003_folder_bag_cutscene_skip"]
	path = dmw_2003_folder_bag_cutscene_skip
	url = https://github.com/markisha64/dmw_2003_folder_bag_cutscene_skip
[submodule "dmw_2003_fast_start"]
	path = dmw_2003_fast_start
	url = https://github.com/markisha64/dmw_2003_fast_start
[submodule "dmw_2003_no_running_away"]
	path = dmw_2003_no_running_away
	url = https://github.com/markisha64/dmw_2003_no_running_away.git
[submodule "dmw_2003_fast_sepikmon"]
	path = dmw_2003_fast_sepikmon
	url = https://github.com/markisha64/dmw_2003_fast_sepikmon
